Hey <%= @user.first_name %>, the activity <%= @activity.title %> IS ON!  <br /><br />

When: <%= @activity.date_and_time.strftime("%a, %b %d @ %l:%M %p") %><br />
Where: <%=  @activity.where %>
<br />

<p>To view all the activity details, click <%= link_to "here", activity_url(@activity) %>.</p>

<p>Please add 'IT'S ON!' to your contact list to ensure you receive these emails in the future.</p>