<%= form_for @group, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.label "Open to the public", :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :open_to_public, checked_value: true, unchecked_value: false %><br /><br />
    </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :details, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :details, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                groups_path, :class => 'btn' %>
  </div>
<% end %>
