<% provide(:title, 'Groups') %>

<div class="instruction-question">How do groups work?</div>
<p>Groups allow users to keep an activity private to just the users of the group.  To create a new group, just click on the "New" button at the bottom of the group list.  To join a group, simply click on the '+' icon for that group.</p><br />

<%- model_class = Group -%>
<div class="main-area">
  <div class="row">
    <h1 class="span3">
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
    </h1>
    <div class="pull-right inline">
      <%= form_tag groups_path, method: 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:name) %></th>
        <th><%= model_class.human_attribute_name(:details) %></th>
        <th><%= model_class.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <% if group.id != 1 %>
          <tr class=<%= get_group_row_class(group) %>>
            <td><%= link_to_group(group) %></td>
            <td><%= group.details %></td>
            <td><%= group.created_at %></td>
            <td>
              <%= render partial: 'group_actions', locals: { group: group } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_group_path,
                :class => 'btn btn-primary' %>
  <% end %>
</div>
