<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">

    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= render 'shared/text_field', field: :username, f: f %><br /><br />
    </div>

    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= render 'shared/text_field', field: :email, f: f %><br /><br />
    </div>

    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
        <%= render 'shared/text_field', field: :first_name, f: f %><br /><br />
    </div>

    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= render 'shared/text_field', field: :last_name, f: f %><br /><br />
    </div>
    
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= render 'shared/number_field', field: :age, f: f %><br /><br />
    </div>
    
    <%= f.label :zipcode, :class => 'control-label' %>
    <div class="controls">
      <%= render 'shared/text_field', field: :last_name, f: f %><br /><br />
    </div>

    <% if signed_in? && @user == current_user %>
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password %><br /><br />
      </div>

      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation %><br /><br /><br />
      </div>

      <div class="bold">Notifications</div><br />

      <%= f.label "New activity", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :notf_new_activity, checked_value: true, unchecked_value: false %><br /><br />
      </div>
      <%= f.label "New comment", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :notf_new_activity, checked_value: true, unchecked_value: false %><br /><br />
      </div>
      <%= f.label "Activity turns 'ON'", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :notf_activity_turns_on, checked_value: true, unchecked_value: false %><br /><br />
      </div>
    <% end %>



    <div class="form-actions">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    :back, :class => 'btn'  %>
      <% if signed_in? && @user == current_user %>
        <%= f.submit "Update", :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>

