<%- model_class = Activity -%>

<div class="main-area">
  <% if @current_directory %>
    <h2> Activities - <%= @current_directory.name.capitalize %></h2>
  <% else %>
    <h2> Activities </h2>
  <% end %>
  <div class="activity-legend">
    <p class="inline">
      *** Displaying all activities for all your groups (whether subscribing or not). *** <br />
      *** If it's <span class="its-on-open">green</span>, 
      then <span class="its-on-text">IT'S ON!</span> and spots remain.
      If it's <span style="color: red;">red</span> then it's full. ***<br />
    </p>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:category) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:date) %></th>
        <th><%= model_class.human_attribute_name(:distance) %></th>
        <th><%= model_class.human_attribute_name(:open) %></th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr class=<%= get_activity_row_class(activity) %>>
          <td>
            <div>
              <!-- <%= get_activity_category_image(activity) %> -->
              <%= Category.find(activity.category_id).name %>
            </div>
          </td>
    	    <td><%= link_to "#{activity.title}", activity_path(activity)%></td>
          <td><%= activity.date_and_time.strftime('%b %d') %></td>
          <% if signed_in? %>
            <td><%= "#{activity.distance_to(current_user).round(0)} mi" %></td>
          <% else %>
            <td>unknown</td>
          <% end %>
          <% spots_remaining = activity.max_participants - activity.users.count %>
          <td class="open-spots">
            <% if spots_remaining > 0 %>
              <p><%= spots_remaining %></p>
            <% else %>
              <p>FULL</p>
            <% end %>
          </td>
    	  </tr>
      <% end %>
    </tbody>
  </table>

   <%= will_paginate @activities %>

  <% if signed_in? %>

    Only show activities within 
    <%= form_tag activities_path, method: 'get', class: "inline" do %>
        <%= number_field_tag :distance, params[:distance], class: "distance-entry" %>
        <%= hidden_field_tag :category_id, params[:category_id] %>
        miles from me 
        <%= submit_tag "Search", name: nil, class: "btn btn-mini btn-primary" %>
    <% end %>
    <br /><br />

    <% if @current_directory %>
    	<%= link_to t('.new', :default => t("helpers.links.new")),
    	            new_activity_path(category_id: @current_directory.id),
    	            :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_activity_path(),
                  :class => 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>