<%- model_class = Activity -%>
<div class="main-area">
  <% if @current_directory %>
    <h2> Activities - <%= @current_directory.name.capitalize %></h2>
  <% else %>
    <h2> Activities </h2>
  <% end %>
  <div class="activity-legend">
    <p class="inline">
      *** Displaying all activities for your groups (whether subscribing or not) *** <br />
      *** If its
      <%= image_tag("green.png", height: 25, width: 25) %>
      then... IT'S ON! ***
    </p>
  </div>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:category) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:when) %></th>
        <th><%= model_class.human_attribute_name(:where) %></th>
        <th><%= model_class.human_attribute_name(:open_spots) %></th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td>
            <div>
              <%= get_activity_category_image(activity) %>
              <%= Category.find(activity.category_id).name %>
            </div>
          </td>
    	    <td><%= link_to "#{activity.title}", activity_path(activity)%></td>
          <td><%= activity.when.to_formatted_s :short %></td>
          <td><%= "location here" %></td>
          <% spots_remaining = activity.max_participants - activity.users.count %>
          <td class="open-spots <%= get_activity_row_class(activity) %>">
            <% if spots_remaining > 0 %>
              <p><%= spots_remaining %></p>
            <% else %>
              <p>FULL</p>
            <% end %>
          </td>
    	  </tr>
      <% end %>
    </tbody>
  </table>

   <%= will_paginate @activities %>

  <% if signed_in? %>
    <% if @current_directory %>
    	<%= link_to t('.new', :default => t("helpers.links.new")),
    	            new_activity_path(category_id: @current_directory.id),
    	            :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_activity_path(),
                  :class => 'btn btn-primary' %>
    <% end %>
  <% end %>
</div>