<%= form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :when, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :when, :class => 'datetime_select' , default: 1.hour.from_now%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :min_participants, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :min_participants, :class => 'number_field', default: 0 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_participants, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_participants, :class => 'number_field', default: 0 %>
    </div>
  </div>
  <!-- <div class="control-group">
    <%= f.label :its_on, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :its_on, :class => 'check_box' %>
    </div>
  </div> -->
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :category_id, Category.order('name ASC').where(leaf: true), :id, :name, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activities_path, :class => 'btn' %>
  </div>
<% end %>
