<%= form_for @activity, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date_and_time, :class => 'datetime_select' , default: 1.hour.from_now%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :date_and_time, :class => 'datetime_select' , ignore_date: true, 
                        ampm: true, minute_step: 5, default: 1.hour.from_now%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :where, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :where, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :min_participants, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :min_participants, :class => 'number_field', :in => 0..1000000, default: 0 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_participants, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :max_participants, :class => 'number_field', :in => 0..1000000, default: 0 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <% if @category %> 
        <%= f.collection_select :category_id, Category.order('name ASC').where(leaf: true), :id, :name, 
            :class => 'number_field', selected: @category.id %>
      <% else %> 
        <%= f.collection_select :category_id, Category.order('name ASC').where(leaf: true), :id, :name, 
            :class => 'number_field' %>
      <% end %>
    </div>
  </div>
  <br />
  <h3>Groups<h3>

  <% current_user.groups.each do |group| %>
    
      <div class="row">
        <div class="span5 offset1">
          <%= check_box_tag :group_ids, group.id, @activity.groups.include?(group), 
                            name: 'activity[group_ids][]', html: { class: "inline" } %>
          <span id="category-xbox"> <%= group.name %> </span>
        </div>
      </div>
    
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>
