<div class="span3">
	<%- model_class = Category -%>
	<div class="page-header">
	  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
	</div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:name) %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @categories.each do |category| %>
		      <tr>
		        <td><%= link_to "#{category.name}", activities_path(category_id: category) %>
		        </td>
		      </tr>
	    <% end %>
	  </tbody>
	</table>

	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_category_path,
	            :class => 'btn btn-primary' %>

</div>

<div class="span6 offset1">
	<%- model_class = SpecificActivity -%>
	<div class="page-header">
	  <h2> Activities </h2>
	</div>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th><%= model_class.human_attribute_name(:name) %></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @activities.each do |activity| %>
	      <% if activity.category_id == @category_id %>
		      <tr>
		        <td><%= link_to "#{activity.name}", activity_path(activity) %></td>
		      </tr>
		  <% end %>
	    <% end %>
	  </tbody>
	</table>

	<%= link_to t('.new', :default => t("helpers.links.new")),
	            new_activity_path,
	            :class => 'btn btn-primary' %>
</div>